<div style="width: 700px;">
    <div class="row" >
        <div class="col-sm-6">
            <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
        </div>
        <div class="col-sm-6">
            <h1 mat-dialog-title style="font-size: medium;">Politerapia de alto riesgo (Folfox)</h1>
        </div>
    </div>
    <div mat-dialog-content>
    <h6>Diagnosticos activos</h6>
        <div class="row" >
            <div class="col-sm-8">
                Diagnostico
            </div>
            <div class="col-sm-2">
                Fecha dx
            </div>
            <div class="col-sm-2">
                Edad dx
            </div>
        </div>
        <mat-divider style="border-top-color: grey;"></mat-divider>
        <div class="row" >
            <div class="col-sm-8">
                C784 - Tumor maligno del intestino delgado
            </div>
            <div class="col-sm-2">
                03/08/2017
            </div>
            <div class="col-sm-2">
                61 años
            </div>
        </div>
        <mat-divider style="border-top-color: grey;"></mat-divider>
        <div class="row" >
            <div class="col-sm-8">
                K633 - Ulcera del intestino
            </div>
            <div class="col-sm-2">
                01/07/2017
            </div>
            <div class="col-sm-2">
                61 años
            </div>
        </div>
        <mat-divider style="border-top-color: grey;"></mat-divider>
        
    </div>
</div>