<!--<mat-accordion>
        <mat-expansion-panel *ngFor="let panel of panels">
          <mat-expansion-panel-header>
            {{panel.title}}
          </mat-expansion-panel-header>
          {{panel.content}}
        </mat-expansion-panel>      
</mat-accordion>-->

<div *ngFor="let filtros of filtros">
    <mat-accordion>
        <mat-expansion-panel #expansionPanel>
            <mat-expansion-panel-header collapsedHeight="110px" style="padding-left: 0px;"
                expandedHeight="110px" (click)="expansionPanel.expanded?expandPanel(expansionPanel, $event):closeOpened(expansionPanel, $event)"> 
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <b>{{filtros.nombrePaciente}} ({{filtros.generoPaciente}},{{filtros.edadPaciente}} años) </b>
                                <div class="float-right">
                                        <button mat-icon-button style="height: 28px; width: 28px;">
                                            <mat-icon aria-hidden="false" style=" vertical-align: top;" aria-label="">account_box</mat-icon>
                                        </button>
                                        <button mat-icon-button style="height: 28px; width: 28px;" (click)="openDiagnosticoActivosDialog()">
                                            <mat-icon aria-hidden="false" style="vertical-align: top;" aria-label="">local_hospital</mat-icon>
                                        </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button mat-icon-button style="height: 28px; width: 28px" (click)="openAlertasAdministrativasDialog()">
                                        <mat-icon aria-hidden="false" style=" vertical-align: top;height: 28px; width: 28px" aria-label="">warning</mat-icon>
                                </button>
                                <button mat-icon-button [matMenuTriggerFor]="afterMenu" style="height: 28px; width: 28px">
                                        <mat-icon aria-hidden="false" style=" vertical-align: top;height: 28px; width: 28px" aria-label="">more_horiz</mat-icon>
                                </button>
                                <mat-menu #afterMenu="matMenu" xPosition="after">
                                    <button mat-menu-item (click)="openCancelarModeloDialog()">Cancelar modelo</button>
                                    <button mat-menu-item (click)="openSuspenderModeloDialog()">Suspender modelo</button>
                                    <button mat-menu-item (click)="openReiniciarModeloDialog()" >Reiniciar modelo</button>
                                    <button mat-menu-item (click)="openVerOrdenDialog()">Ver orden</button>
                                    <button mat-menu-item (click)="openDatosDemograficosDialog()">Ver demograficos</button>
                                    <button mat-menu-item (click)="openTrazabilidadEstadosDialog()">Ver trazabilidad de estados</button>
                                    <button mat-menu-item>Consentimiento informado</button>
                                </mat-menu>
                            </div>
                            <div class="col-sm-2">
                                Sura EPS
                            </div>
                            <div class="col-sm-2">
                                Iniciado
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                Dx Tumor maligno del intestino delgado 
                                <div class="float-right">Inicio 01/03/2019</div>
                            </div>
                            <div class="col-sm-2">
                                Ciclo 1 de 3
                            </div>
                            <div class="col-sm-2">
                                Sesion 2 - Dia 15
                            </div>
                            <div class="col-sm-2">
                                15 Dias
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Politerapia de alto riesgo (Folfiri + Bevacizumab)
                        </div>
                        <div class="col-sm-2">
                            Oncologia
                        </div>
                        <div class="col-sm-2">
                            Curativo
                        </div>
                        <div class="col-sm-2">
                            <button mat-icon-button style="height: 28px; width: 28px;">
                                <mat-icon aria-hidden="false" style=" vertical-align: top;" aria-label="">priority_high</mat-icon>
                            </button>    
                        </div>
                    </div>
                </div>          
        </mat-expansion-panel-header>  
        <mat-grid-list cols="4"  [style.background]="'skyblue'">
                <app-detallesession></app-detallesession>
                </mat-grid-list> 
    </mat-expansion-panel>
