
<div style="width: 950px;">
    <div class="row" >
        <div class="col-sm-12">
            <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
        </div>
    </div>
    <div mat-dialog-content>
    <h6>Datos Demograficos</h6>
        <mat-card>
            <div class="row" >
                <div class="col-sm-12" >
                    Datos de identificacion
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2" >
                        Identificacion:
                </div>
                <div class="col-sm-3" >
                    CC-276127132
                </div>
                <div class="col-sm-1" >
                     Historia:
                </div>
                <div class="col-sm-2" >
                    3433333
               </div>
               <div class="col-sm-2" >
                    Genero:
                </div>
                <div class="col-sm-2" >
                    Masculino
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-3" >
                    Correo electronico:
                </div>
                <div class="col-sm-3" >
                    juan.perez@gmail.com
                </div>
                <div class="col-sm-3" >
                    Nombre de los padres:
                </div>
                <div class="col-sm-3" >
                    Arcesio y Marta
                </div>
            </div>
        </mat-card><br/> 
        <mat-card>
            <div class="row" >
                <div class="col-sm-12" >
                    Datos de nacimiento
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-3" >
                    Fecha de nacimiento:
                </div>
                <div class="col-sm-2" >
                    12/12/2019
                </div>
                <div class="col-sm-1" >
                     Edad:
                </div>
                <div class="col-sm-2" >
                    15 años
               </div>
               <div class="col-sm-2" >
                    Localidad:
                </div>
                <div class="col-sm-2" >
                    Usaquen
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2" >
                    Nacionalidad:
                </div>
                <div class="col-sm-10" >
                    Colombiano
                </div>
            </div>
        </mat-card><br/> 
        <mat-card>
            <div class="row" >
                <div class="col-sm-12" >
                    Datos de residencia
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2" >
                    Direccion:
                </div>
                <div class="col-sm-2" >
                    Calle 19 #49-21
                </div>
                <div class="col-sm-2" >
                     Telefono fijo:
                </div>
                <div class="col-sm-2" >
                    2718275
               </div>
               <div class="col-sm-2" >
                    Telefono Movil:
                </div>
                <div class="col-sm-2" >
                    3112837463
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2" >
                    Zona:
                </div>
                <div class="col-sm-10" >
                    Sur
                </div>
            </div>
        </mat-card>               
    </div>
</div>