<body>
    <form method="POST">
        <div class="clearfix">
            <div class="form-row">
                <div class="col-md-11">
                    <h6>Filtros : </h6>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-radio" *ngFor="let nombre of radioButtonPacientes">
                    <input type="radio" id="seleccionados" name="seleccionados" class="custom-control-input"
                        [value]="seleccionados">
                    <label class="custom-control-label" for="seleccionados">{{nombre}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <label class="col-sm-11 col-form-label">Estructura adminstrativa : </label>
                    <div class="col-sm-11">
                        <select class="form-control  border border-dark">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-sm-5 col-form-label">Responsable : </label>
                    <div class="col-sm-6">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-sm-5 col-form-label">Especialidad : </label>
                    <div class="col-sm-6">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-sm-5 col-form-label">Modelo de presentacion : </label>
                    <div class="col-sm-6">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="selectSedes">Tipo de modelo : Tratamiento </label>
                <div class="form-row">
                    <label for="responsable" class="col-md-4 col-form-label">Tipo de tratamiento : </label>
                    <select class="col-md-7 form-control border border-dark" id="responsable">
                        <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Protocolo : </label>
                    <select class="col-md-8 form-control border border-dark" id="responsable">
                        <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Propòsito : </label>
                    <select class="col-md-8 form-control border border-dark" id="responsable">
                        <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Estado : </label>
                    <select class="col-md-8 form-control border border-dark" id="responsable">
                        <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Historia : </label>
                    <div class="col-md-2">
                        <button class="btn btn-light" type="button" id="buton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="col-md-6 form-control">
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Fecha Cita : </label>
                    <mat-form-field class="col-md-8">
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-3 col-form-label"> Sala : </label>
                    <select class="col-md-8 form-control border border-dark" id="responsable">
                        <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-md-7 col-form-label"> Numero de dia de corte : </label>
                    <input type="numeroDiasCorte" class=" col-md-4 border border-dark form-control"
                        id="numeroDiasCorte">
                </div>
            </div>
            <div class="btn-group px-5">
                <button type="button" id="limpiar" class="btn btn-primary">Limpiar</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Recuperar</button>
            </div>
        </div>
    </form>
</body>