/* Por mayor de 700px */
  @media screen and (min-width: 700px){

    .form-group{
      font-size: 12px;
    }
    input{
      font-size: 12px; 
    }
    select{
      font-size: 12px; 
    }
    select .form-control {
      width: inherit ;
    }
  }
    /* Por debajo de 400px */
    @media screen and (max-width: 700px){
      .form-group{
        font-size: 10px;
      }
      select{
        font-size: 10px;
        
      }
    }
    .radio-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }
    
    .radio-radio-button {
      margin: 5px;
    }
    .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}