<body>
    <div class="form-row">
        <div class="col-md-11">
            <h6>Filtros : </h6>
        </div>
    </div>
    <div class="form-group">
        <mat-radio-group aria-labelledby="radio-radio-group-label" class="radio-radio-group"
            [(ngModel)]="filtro.radioPacientes">
            <mat-radio-button class="radio-radio-button" *ngFor="let radioButtonPacientes of lista.radioButtonPacientes"
                [value]="radioButtonPacientes">
                {{radioButtonPacientes}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <form method="POST" [formGroup]="form">
        <div class="clearfix">
            <div class="form-group">
                <div class="form-row">
                    <label class="col-sm-11 col-form-label">Estructura adminstrativa : </label>
                    <div class="col-sm-11 p-1">
                        <select class="form-control  border border-dark " formControlName="ltsEsAdm">
                            <option *ngFor="let ltsEsAdm of lista.LstestructuraAdministrativa" [ngValue]="ltsEsAdm">
                                {{ltsEsAdm.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="responsable" class="col-sm-5 col-form-label">Responsable : </label>
                    <div class="col-sm-6 p-1">
                        <select class="form-control border border-dark" formControlName="ltsRes">
                            <option *ngFor="let ltsRes of lista.Lstresponsable" [ngValue]="ltsRes">{{ltsRes.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="Especialidad" class="col-sm-5 col-form-label">Especialidad : </label>
                    <div class="col-sm-6 p-1">
                        <select class="form-control border border-dark" formControlName="ltsEsp">
                            <option *ngFor="let ltsEsp of lista.Lstespacialidad" [value]="ltsEsp">{{ltsEsp.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="modeloPresentacion" class="col-sm-5 col-form-label">Modelo de presentacion : </label>
                    <div class="col-sm-6 p-1">
                        <select class="form-control border border-dark">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Tipo de modelo : Tratamiento </label>
                <div class="form-row">
                    <label for="tipoTratamiento" class="col-md-4 col-form-label">Tipo de tratamiento : </label>
                    <div class="col-md-7 p-1">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="Protocolo" class="col-md-3 col-form-label"> Protocolo : </label>
                    <div class="col-md-8 p-1">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="proposito" class="col-md-3 col-form-label"> Propòsito : </label>
                    <div class="col-md-8 p-1">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="Estado" class="col-md-3 col-form-label"> Estado : </label>
                    <div class="col-md-8 p-1">
                        <select class="form-control border border-dark" id="responsable">
                            <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="historia" class="col-md-3 col-form-label"> Historia : </label>
                    <div class="col-md-2">
                        <button class="btn btn-light" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="col-md-6 p-1">
                        <input type="text" class="form-control border border-dark">
                    </div>
                </div>
                <div class="form-row" layout-align="center center">
                    <label for="responsable" class="col-md-3 col-form-label"> Fecha Cita : </label>
                    <mat-form-field class="col-md-8" >
                        <input matInput [matDatepicker]="picker" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="form-row">
                    <label for="sala" class="col-md-3 col-form-label"> Sala : </label>
                    <div class="col-md-8 p-1">
                            <select class="form-control border border-dark" id="responsable">
                                    <option *ngFor="let sedes of list" [value]="sedes.value">{{sedes.nombre}}</option>
                                </select>
                    </div>
                </div>
                <div class="form-row">
                    <label for="numeroDiaCorte" class="col-md-7 col-form-label"> Numero de dia de corte : </label>
                    <div class="col-md-4 p-1">
                            <input type="numeroDiasCorte" class="border border-dark form-control"
                            id="numeroDiasCorte">
                    </div>
                </div>
            </div>
            <div class="btn-group px-5 p-1">
                <button type="button" id="limpiar" class="btn btn-primary">Limpiar</button>
            </div>
            <div class="btn-group">
                <button type="button" (click)="filtros(filtro)" class="btn btn-primary">Recuperar</button>
            </div>
        </div>
    </form>
</body>