<div style="width: 900px;">
        <div class="row" >
            <div class="col-sm-5">
                <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
            </div>
            <div class="col-sm-4">
                <h1 mat-dialog-title style="font-size: medium;">Politerapia de alto riesgo (Folfox)</h1>
            </div>
            <div class="col-sm-3">
                <h1 mat-dialog-title style="font-size: medium;">Sesion 1 - Dia 1</h1>
            </div>
        </div>
        <div mat-dialog-content>
        <h6>Ver Orden</h6>
            <div class="row" >
                <div class="col-sm-3">Diagnostico:</div>
                <div class="col-sm-9">Tumor maligno del intestino delgado</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Fecha de la orden:</div>
                <div class="col-sm-4">01/03/2019</div>
                <div class="col-sm-2">Estado:</div>
                <div class="col-sm-3">Iniciado</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Medico que ordena:</div>
                <div class="col-sm-9">Alberto López Figueroa</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Prioridad:</div>
                <div class="col-sm-9">Normal</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Observaciones:</div>
                <div class="col-sm-9">Observaciones de la orden...</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Justificación:</div>
                <div class="col-sm-9">Justificacion de la orden</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Fecha de inicio tratamiento:</div>
                <div class="col-sm-9">15/04/2019 08:00 am</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Ambito de atencion:</div>
                <div class="col-sm-9">Interno ambulatorio</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Duracion:</div>
                <div class="col-sm-4">15 dias</div>
                <div class="col-sm-2">Ciclo</div>
                <div class="col-sm-3">1 de 3</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Ubicacion en el tiempo:</div>
                <div class="col-sm-4">Neoadyuvancia</div>
                <div class="col-sm-2">Proposito:</div>
                <div class="col-sm-3">Curativo</div>
            </div>
            <div class="row" >
                <div class="col-sm-3">Responsable:</div>
                <div class="col-sm-9">Coomeva EPS</div>
            </div>
            <div class="row" >
                <div class="col-sm-12" style="text-align: right;">
                    <div class="btn-group">
                        <button (click)="onNoClick()" mat-button style="background-color: #BBDEFB;">Aceptar</button>
                    </div>
                </div>
            </div>      
        </div>
    </div>
