<div style="width: 100%;">
        <div class="row" >
            <div class="col-sm-4">
                <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
            </div>
            <div class="col-sm-5">
                <h1 mat-dialog-title style="font-size: medium;">Politerapia de alto riesgo (Folfox)</h1>
            </div>
            <div class="col-sm-3">
                <h1 mat-dialog-title style="font-size: medium;">Sesion 1 - Dia 1</h1>
            </div>
        </div>
        <div mat-dialog-content>
        <h6>Ver Orden</h6>
            <div class="row" >

            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                
            </div>
            <div class="row" >
                <div class="col-sm-12" style="text-align: right;">
                    <div class="btn-group">
                        <button mat-button style="background-color: #BBDEFB;">Aceptar</button>
                    </div>
                </div>
            </div>      
        </div>
    </div>
