
<div style="width: 700px;">
        <div class="row" >
            <div class="col-sm-6">
                <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
            </div>
            <div class="col-sm-6">
                <h1 mat-dialog-title style="font-size: medium;">Politerapia de alto riesgo (Folfox)</h1>
            </div>
        </div>
        <div mat-dialog-content>
        <h6>Cancelar modelo de prestacion</h6>
            <div class="row" >
                <div class="col-sm-1">
                    Causa
                </div>
                <div class="col-sm-5">
                    <mat-form-field>
                        <mat-select placeholder="Seleccione Causa">
                            <mat-option value="option">causa1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-1">
                    Causa
                </div>
                <div class="col-sm-5">
                    Causa
                </div>
            </div>
            <div class="row" >

            </div>
            <div class="row" >

            </div> 
            <div class="row" >

            </div>      
        </div>
    </div>