<div class="container-fluid">
    <body style="padding:10px">
        <mat-drawer-container class="mat-drawer-content ng-star-inserted" style="height: 800px;">
            <mat-drawer #drawer mode="side">
                <div *ngIf="showFiller" class="col-md-12">
                    <app-filtros></app-filtros>
                </div>
            </mat-drawer>
            <a mat-button (click)="drawer.toggle()"><i class="fa fa-arrow-circle-left"></i></a>
            <div class="container" >
                <app-paciente-asignado-modelo-busqueda ></app-paciente-asignado-modelo-busqueda>
            </div>
            <div class="container">
                <app-paciente-asignado-modelo ></app-paciente-asignado-modelo>
            </div>
        </mat-drawer-container>
    </body>
</div>