
<div style="width: 700px;">
        <div class="row" >
            <div class="col-sm-12">
                <h1 mat-dialog-title>Juan Perez (Masculino, 65 años)</h1>
            </div>
        </div>
        <div mat-dialog-content>
        <h6>Alertas de administracion</h6>
            <mat-card>
                <div class="row" >
                    <div class="col-sm-3" >
                        17/07/2019 12:15
                    </div>
                    <div class="col-sm-9" >
                        <b>Tratamiento: Politerapia de alto riesgo (Folfiri + Bevacizumab)</b>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-3" >
                            Ciclo 1 de 3
                    </div>
                    <div class="col-sm-3" >
                        Sesion 2 - Dia 15
                    </div>
                    <div class="col-sm-6" >
                         Actividad: Irinotecan solucion inyectable
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12" >
                        Alterta...el paciente presento...
                    </div>
                </div>
            </mat-card>           
        </div>
    </div>